.space_menu1
{
	
}
.space_menu2
{
	/*margin-left:-144px !important;*/
	margin-left:-146px !important;
}
.space_menu3
{
	margin-left:-231px !important;
	/*margin-left:-228px !important;*/
}
.space_menu4
{
	margin-left:-389px !important;
	/*margin-left:-385px !important;*/
}
.space_menu5
{
	margin-left:-515px !important;
}
.space_menu6
{
	margin-left:-606px !important;
}
.space_menu7
{
	/*margin-left:-702px !important;*/
	margin-left:-701px !important;
}
.space_menu8
{
	/*margin-left:-838px !important;*/
	margin-left:-835px !important;
}