#main-menu {
    width: 100%;
    min-height: 75px;
    margin-top: 0;
    margin-left: 0;
    background: #004B8D;
}

#main-menu .nav > li > a, #main-menu .nav > li > a:hover {
    color: #fff;
    background: transparent;
}

#main-menu .nav > li > a {
    border-radius: 0;
    border-right: 1px solid #fff;
}

#main-menu .nav > li:last-child > a {
    border: 0
}

#main-menu ul li:hover ul, #main-menu ul a:hover ul {
    visibility: visible;
    height: auto;
    width: 100%;
}

#main-menu ul ul {
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 150px;
    bottom: 75px;
}

@media (min-width: 768px) {
    #main-menu .nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }

    #main-menu .nav > li {
        display: table-cell;
        float: none;
        text-align: center;
        padding-top: 18px;
    }
}

@media (max-width: 992px) {
    #main-menu .nav > li > a {
        font-size: 11px;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    #main-menu {
        display: none;
    }
}
